<form method="get" action="/quizes/<%= quiz.id %>/answer">
      <p>Pregunta: <%= quiz.pregunta %></p>
      <input type="text" name="respuesta" value="Responda aquí" />
      <input type="submit" value="Envíar" />
</form>

<p><a href="/quizes/<%= quiz.id %>/comments/new"><button> Nuevo comentario</button></a></p>

<p><strong>Comentarios:</strong></p>
<% for(index in quiz.comments) { %>
	<p>-<%= +index+1 %>- <%= quiz.comments[index].texto %> -<%= quiz.comments[index].id %>-<a href="/quizes/<%= quiz.id %>/comments/edit/<%= index %>"><button>editar</button></a></p>
<% } %>