<form method="get" action="/quizes/<%= quiz.id %>/answer">
      <p>Pregunta: <%= quiz.pregunta %></p>
      <input type="text" name="respuesta" value="Responda aquí" />
      <input type="submit" value="Envíar" />
</form>

<p><a href="/quizes/<%= quiz.id %>/comments/new"><button> Nuevo comentario</button></a>
   <a href="/quizes"><button> Volver </button></a>
</p>

<table>

<tr><td><strong>Comentarios:</strong></td><td></td><td></td></tr>

<% for(let index=0; index<quiz.Comments.length; index++/*in quiz.comments*/) { %>
 <% if(quiz.Comments[index].publicado || session.user){ %>
   <tr>
	<td align="left">-<%= +index+1 %>- <%= quiz.Comments[index].texto %></td>
	<% if(session.user){ %>
	<td><a href="/quizes/<%= quiz.id %>/comments/edit/<%= index %>"><button>editar</button></a></td>
	<td>
      	  <form method="post" action="/quizes/<%= quiz.id %>/comments/<%= index %>?_method=delete">
       	    <button type="submit" onClick="return confirm('Borrar: <%= quiz.Comments[index].texto %>');">
          	borrar
            </button>
     	  </form>
	</td>
	<% } %>
	<% if (session.user && !quiz.Comments[index].publicado){ %>
	<td><!-- <a href="/quizes/<%= quiz.id %>/comments/<%= index %>/publish"><button>Publicar</button></a> -->
	  	 <form method="post" action="/quizes/<%= quiz.id %>/comments/<%= index %>/publish?_method=put">
       	    <button type="submit">Publicar</button>
     	 </form>
	</td>
	<% console.log(session.user+' ++++ '+quiz.Comments[index].publicado)}; if (session.user && quiz.Comments[index].publicado) { %>
	<td>
	  	<form method="post" action="/quizes/<%= quiz.id %>/comments/<%= index %>/unpublish?_method=put">
       	    <button type="submit">Despublicar</button>
     	</form>
	</td>
	<% }  %>
   </tr>
  <% } %>
<% } %>
</table>
