<form method="get" action="/quizes/<%= quiz.id %>/answer">
      <p>Pregunta: <%= quiz.pregunta %></p>
      <input type="text" name="respuesta" value="Responda aquí" />
      <input type="submit" value="Envíar" />
</form>

<p><a href="/quizes/<%= quiz.id %>/comments/new"><button> Nuevo comentario</button></a></p>

<table>

<tr><td><strong>Comentarios:</strong></td><td></td><td></td></tr>

<% for(index in quiz.comments) { %>
   <tr>
	<td align="left">-<%= +index+1 %>- <%= quiz.comments[index].texto %></td>
	<td><a href="/quizes/<%= quiz.id %>/comments/edit/<%= index %>"><button>editar</button></a></td>
	<td>
      	  <form method="post" action="/quizes/<%= quiz.id %>/comments/<%= index %>?_method=delete">
       	    <button type="submit" onClick="return confirm('Borrar: <%= quiz.comments[index].texto %>');">
          	borrar
            </button>
     	  </form>
	</td>
   </tr>
<% } %>
</table>