<p><i>Número de preguntas:</i><b> <%= statistics.n_preguntas %></b></p>
<p><i>Número de comentarios totales:</i><b> <%= statistics.n_comentarios %></b></p>
<p><i>Número medio de comentarios por pregunta:</i><b> <%= statistics.promedio_comentarios%></b></p>
<p><i>Número de preguntas sin comentarios:</i><b> <%= statistics.preg_sin_com %></b></p>
<p><i>Número de preguntas con comentarios:</i><b> <%= statistics.preg_con_com %></b></p>
<p><i>Número de comentarios no publicados:</i><b> <%= statistics.comentarios_no_pub %></b></p>
